@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

:root {
    --full-width: 100%;
    --white: #ffffff;
    --white-pink: #f2d8b9;
    --white-black: #252525;
    --font-thin: 400;
    --blue: #179dfb;
    --white-blue: #c1dcf9;
}

.layout__padding {
    padding: 75px 0;
}





/* ****************** */
/***Header  Section***/
/* **************** */
.header__section {
    width: var(--full-width);
    height: 98vh;
    display: block;
    background: #b5caee;
}

.header__section .header {
    width: var(--full-width);
    height: 76px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo__header {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 5px;
    font-size: 24px;
    text-transform: uppercase;
}

.header .logo__header span {
    margin-top: 5px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 700;
}

.header .menu__header {
    width: 600px;

    display: flex;
    align-items: center;
    justify-content: end;

    font-size: 1rem;
    color: var(--white);
    text-transform: uppercase;
}

.header .menu__header li {
    padding: 10px 30px;
    white-space: nowrap;
    list-style-type: none;
}

.header .menu__header i {
    display: flex;
    align-items: center;
    font-size: x-large;
    color: var(--white-black);
}

.header .menu__header a {
    color: var(--white);
    text-decoration: none;
}

.header__section .slider {
    width: 1170px;

    display: flex;
    justify-content: center;
    position: relative;

    padding: 50px 0;
    padding-top: 8%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.2;
}

.slider .slider__content {
    width: calc(90% + 12px);
    display: flex;
}

.slider__content .left__slider {
    padding-right: 20px;
}

.slider__content .left__slider img {
    width: 90%;
}

.slider__content .right__slider {
    width: 675px;
}

.right__slider .right__title {
    width: 80%;
    padding-right: 15px;
    margin: 0 0 8px;
    text-transform: uppercase;
}

.right__slider .right__title h1 {
    width: 600px;
    font-size: 68px;
    font-weight: var(--font-thin);
    text-align: left;
}

.right__slider .right__content {
    width: 590px;
    padding: 41px 0;
    line-height: 1.5;
}

.right__slider .right__content span {
    width: 650px;
    display: block;
}

.right__slider .right__btn {
    display: flex;
}

.right__btn .btn {
    height: 45px;

    display: flex;
    align-items: center;

    color: var(--white);
    padding: 10px 35px;
    text-decoration: none;
}

.right__btn .btn__more {
    background-color: var(--white-pink);

    margin-right: 16px;
    border: 1px solid var(--white-pink);
}

.right__btn .btn__contact {
    background-color: var(--white-black);
    border: 1px solid var(--white-black);
}

.right__btn .btn__more:hover {
    background: transparent;
    color: var(--white-pink);
    outline: 1px thin var(--white-pink);
}

.right__btn .btn__contact:hover {
    background: transparent;
    color: var(--white-black);
    outline: 1px thin var(--white-black);
}

.header__section .control__slider {
    width: var(--full-width);

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    top: calc(56% - 2px);

    padding: 0 32px;
    transform: translate(0, -50%);
}

.control__slider .btn__prev,
.control__slider .btn__next {
    display: flex;
    justify-content: center;
}

.control__slider .btn__prev i,
.control__slider .btn__next i {
    width: 50px;
    height: 50px;
    background-color: var(--white-pink);

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.25rem;
    border-radius: 50%;
    cursor: pointer;
}

.control__slider i:hover {
    background: var(--white);
}





/* ******************** */
/***Container Section***/
/* ****************** */
.container__section {
    width: var(--full-width);
    height: 592px;

    display: block;
    background-image: url(./images/bg.jpg);
    background-size: cover;
}

.container__section .container {
    display: flex;
    align-items: center;

    padding-top: 7px;
    padding-left: 5px;
    line-height: 1.5;
}

.container .contain__left {
    width: 603px;
    height: 244px;
    margin-left: 263px;
    margin-bottom: 24px;
}

.container .contain__left h3 {
    font-size: 1.75rem;
    text-transform: uppercase;
}

.container .contain__left p {
    margin-top: 25px;
    margin-bottom: 45px;
}

.contain__left .btn__contain .btn {
    background-color: var(--white-black);
    padding: 7px 25px;
    border: 1px solid var(--white-black);
    color: var(--white);
    text-decoration: none;
}

.btn__contain .btn:hover {
    background: transparent;

    border: 1px solid var(--white-black);
    color: var(--white-black);
}

.container .contain__right {
    margin-left: 30px;
    margin-top: -8px;
}

.container .contain__right img {
    width: 476px;
}





/* *************** */
/**Client Section**/
/* ************* */
.client__section {
    height: 590px;
    background-color: #c1dcf9;
    padding: 45px 0;
}

.client__title {
    height: 65px;
    margin-bottom: 25px;
    text-align: center;
}

.client__title h3 {
    margin-top: -4px;
    color: #ffffff;
    font-size: 1.75rem;
    text-transform: uppercase;
}

.client__title p {
    display: block;

    margin-top: 4px;
    margin-bottom: 1rem;
    font-weight: bold;
}

.client__list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.client__list .item {
    margin: 26px 10px 0 10px;
    list-style-type: none;
}

.item img {
    width: 265px;
    height: 310px;
}

.item .item__bot {
    margin-top: 10px;
    font-size: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.item__bot h5 {
    font-size: 1.25rem;
}

.item__bot h5 span {
    color: #179dfb;
    font-size: 1.25rem;
}

.item__bot h6 {
    margin-top: 3px;
    color: #ffffff;
    font-size: 1rem;
}





/* ************** */
/***Why Section***/
/* ************ */
.why__section {
    width: var(--full-width);

}

.why__top {
    width: var(--full-width);

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: -5px;
    margin-bottom: 50px;
}

.why__title {
    width: 1140px;
}

.why__title h3 {
    margin-bottom: 4px;
    font-size: 1.75rem;
    text-transform: uppercase;
}

.why__title p {
    font-weight: 700;
    margin-bottom: 1rem;
}

.why__item {
    width: 1140px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    padding: 35px 0;
}

.item__box {
    width: calc(50% - 15px);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 25px 0;
    margin-right: 15px;
}

.item__img {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 125px;
    min-width: 125px;
    margin-right: 25px;

    border: 1.5px solid #e3e2e2;
    border-radius: 7px;
}

.item__img img {
    width: 50px;
}

.item__content h5 {
    font-weight: bold;
    color: #4b9df9;
    font-size: 1.25rem;
}

.why__bottom {
    width: var(--full-width);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.why__bottom .why__title {
    margin-top: -8px;
}

.client {
    width: 1140px;

    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.client .control__slider {
    width: 96%;

    display: inline-flex;
    position: absolute;
    top: 60%;
    justify-content: space-between;
}

.client .control__slider i {
    border-radius: unset;
    background-color: #c1dcf9;
}

.client .control__slider i:hover {
    background-color: var(--white-pink);
}

.client .detail__box {
    min-width: 150px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-right: 20px;
    text-align: center;
}

.client .detail__box img {
    width: 150px;
    padding-bottom: 15px;
}

.client .detail__box h5 {
    font-size: 1.25rem;
}

.client .detail__box h6 {
    margin-bottom: 0.5rem;
    color: #0b3275;
    font-size: 1rem;
    font-weight: var(--font-thin);
}

.client .detail__text {
    width: 935px;
    padding-top: 10px;
}





/* ****************** */
/***Contact Section***/
/* **************** */
.contact__section {
    width: 100%;
    height: 785px;

    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(./images/contact.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./images/contact.jpg);

    color: var(--white);
    background-size: cover;
    background-repeat: no-repeat;
}

.contact__section .contact__title {
    text-align: center;
    text-transform: uppercase;
}

.contact__title h3 {
    font-size: 2rem;
}

.spacing {
    margin-top: 3rem;
    padding-top: 3rem;
}

.contact__section .contact__content {
    width: 1170px;

    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.contact__content form {
    width: 100%;
}

form input {
    height: 40px;
    width: 100%;
    background-color: transparent;

    padding-bottom: 20px;
    padding-top: 45px;

    color: var(--white);
    border: 0;
    border-bottom: 1px solid var(--white);
    outline: none;
}

form input::placeholder {
    margin: 0;

    color: var(--white);
    font-size: 15px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

form .message {
    padding-top: 90px;
}

.contact__content .btn__send {
    display: flex;
    justify-content: center;
}

.btn__send .btn {
    text-transform: uppercase;
}

.btn__send .btn p {
    background-color: var(--blue);
    padding: 12px 55px;
    color: #fff;

    border: none;
    border: 1px solid var(--blue);
    outline: none;
}

.btn__send .btn p:hover {
    background-color: transparent;
    color: var(--blue);
    cursor: pointer;
}






/* *************** */
/***Info Section***/
/* ************* */
.info__section {
    width: 100%;
    background-color: var(--white-blue);
}

.info__section .info__container {
    width: 70%;

    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;

    margin: 0 auto;
}

.info__container .item__block {
    position: relative;
}

.item__block .item__info .box__1::before,
.box__2::before {
    content: "";
    width: 360px;
    height: 2px;
    background-color: #fff;

    display: inline-block;
    position: absolute;
    top: 25%;
    left: 50%;

    margin-left: 220px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.info__container .item__block {
    width: 200px;
}

.info__container .item__block a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--white);
    text-align: center;
    text-decoration: none;
}

.info__section .item__info .img_box {
    width: 80px;
    height: 80px;

    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
}

.item__info .img_box:hover {
    background-color: var(--blue);
}

.img_box.box__1 {
    background-image: url(./images/location-blue.png);
}

.img_box.box__1:hover {
    background-image: url(./images/location-white.png);
}

.img_box.box__2 {
    background-image: url(./images/telephone-blue.png);
}

.img_box.box__2:hover {
    background-image: url(./images/telephone-white.png);
}

.img_box.box__3 {
    background-image: url(./images/envelope-blue.png);
}

.img_box.box__3:hover {
    background-image: url(./images/envelope-white.png);
}

.item__block .detail__info {
    margin-top: 1rem;
}

.item__block .detail__info p {
    margin-bottom: 1rem;
}





/* ***************** */
/***Footer Section***/
/* *************** */
.footer__section {
    background-color: #273135;
    padding: 20px;
    font-family: "Dosis", sans-serif;
    font-weight: 500;
}

.footer__section p {
    margin: 0;
    color: var(--white);
    text-align: center;
}